body {
    font-family: sans-serif;
    background-color: #e0f2f7; /* Light blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden; /* Hide scrollbars during animation */
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out; /* Fade-in animation */
}

.birthday-image {
    margin-bottom: 20px;
    animation: pulse 1.5s infinite; /* Pulsating image animation */
}

.birthday-image img {
    border-radius: 5px;
    max-width: 300px; /* Lebar maksimum gambar */
    max-height: 300px; /* Tinggi maksimum gambar */
    border-radius: 5px;
    object-fit: cover; /* Memastikan gambar memenuhi area tanpa terdistorsi */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: slideInFromBottom 0.5s ease-in-out; /* Slide-in animation */
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.back-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue */
    color: white;
    cursor: pointer;
}

.blue-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue */
    color: white;
    cursor: pointer;
}

.next-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue */
    color: white;
    cursor: pointer;
}

#messageContainer {
    margin-bottom: 20px;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}